<header>
  <div class="container">
    <div class="logo">
      <h3>exclusive</h3>
    </div>
    <!-- <div class="toggle">
            <span></span>
            <span></span>
            <span></span>
        </div> -->
    <div class="toggle" (click)="getActiveToggle()">
      <i
        class="fa-solid"
        [ngClass]="{'fa-bars':myboltoggle==false,'fa-xmark':myboltoggle==true}"
      ></i>
      <!-- <i class="fa-solid fa-xmark"></i> -->
    </div>

    <ul class="links" [class.active]="myboltoggle">
      <li><a routerLink="/" [routerLinkActive]="'actived'" [routerLinkActiveOptions]="{exact:true}">home</a></li>
      <li><a routerLink="/contact" [routerLinkActive]="'actived'">contact</a></li>
      <li><a routerLink="/about" [routerLinkActive]="'actived'">about</a></li>
      <li><a routerLink="/signup" [routerLinkActive]="'actived'">sign up</a></li>
      <div class="search_inp">
        <input type="text" placeholder="What are you looking for?" />
        <i class="bx bx-search-alt-2"></i>
      </div>
    </ul>

    <div class="search_com">
      <div class="icons">
        <i class="fa-regular fa-heart"></i>
        <div class="quaintity">
          <a routerLink="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="count">2</div>
          </a>
        </div>
        <i
          class="fa-regular fa-user"
          (click)="getActive()"
          [class.active]="myboldrop"
        ></i>
        <ul class="drop_down" [class.active]="myboldrop">
          <li>
            <a href="#"><i class="bx bx-user"></i>Manage My Account</a>
          </li>
          <li>
            <a href="#"><i class="bx bx-shopping-bag"></i>My Order</a>
          </li>
          <li>
            <a href="#"><i class="bx bx-window-close"></i>My Cancellations</a>
          </li>
          <li>
            <a href="#"><i class="bx bx-star"></i> My Reviews</a>
          </li>
          <li>
            <a href="#"><i class="bx bx-log-out"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
